.navbar {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  margin-top: 6px;
}

.navItem {
  padding-right: 14px;
  font-weight: 500;
  font-family: Verdana, sans-serif;
  color: #c53030;
}

.logo {
  max-width: 30%;
}
