.navbar {
  display: flex;
  justify-content: center;
  padding-bottom: 6px;
  margin-top: 8px;
}

.navItem {
  padding-right: 14px;
  font-weight: 300;
  font-family: Verdana, sans-serif;
  color: red;
}

.logo {
  max-width: 30%;
}
