.accordion {
  max-width: 1250px;
  padding: 8px;
  display: flex;
  align-items: center;
}

.roundTotalContainer {
  margin-left: 688px;
  margin-top: 0px;
  margin-bottom: 8px;
  outline: solid 1px;
  outline-color: red;
  max-width: 110px;
  padding: 1px;
}
